
body{
    background-color: skyblue;
    text-align: center;
}
#score{
    width: 40vw;
    height: 10vh;
    font-size: 5vh;
    border-radius: 10px;
    background-color: white;
}
#btn {
    width: 15vw;
    height: 10vh;
    color:black;
    background-color: white;
    display: inline;
    text-align: center;
    border-radius: 15px;
    font-size: 30px;
    cursor: pointer;
}
#btn:hover{
    color:greenyellow;
    background-color: indigo;
}

#btn1{
    text-decoration: none;
    background-color: darkgoldenrod;
    color: yellow;
    width: 7.5vw;
    height: 5vh;
    margin-top: 8px;
    border-radius: 7.5px;
}
#btn1:hover{
    background-color: indigo;
}

h1 {
    color:greenyellow;
    background-color: indigo;
    padding:5px;
    border-radius: 15px;
    font-size: 75px;
    margin: auto;
}
h3 {
    text-align: center;
    font-size: 2vw;
    border-radius: 100px;
    background-color: blue;
    margin: auto;
}
#instructions {
    width: 37vw;
    height: 25vh;
    background-color: red;
    border-radius: 10px;
    display: inline-table;
}
